<script lang="ts">
	import { afterUpdate } from "svelte";
	const SPACER = "\u00A0\u00A0";

	export let textOuter1 = "ИНН 123456789012";
	export let textOuter2 = "ИНН 123456789012";
	export let textTop = "ИП Смирнов Виктор Геннадьевич";
	export let textInnerTop = "Российская Федерация, г. Санкт-Петербург";
	export let textInnerBottom = "Индивидуальный предприниматель";
	export let textBottom = "ОГРНИП 345678901234567";

	export let svgEl: SVGElement;

	$: textOuter = `${SPACER}${textOuter1}${SPACER}${SPACER}${textOuter2}${SPACER}`.repeat(2);

	let textPathElTop: SVGTextPathElement;
	let textPathElInnerTop: SVGTextPathElement;
	let textPathElInnerBottom: SVGTextPathElement;
	let textPathElBottom: SVGTextPathElement;

	let textLengthTop = 0;
	let textLengthInnerTop = 0;
	let textLengthInnerBottom = 0;
	let textLengthBottom = 0;

	afterUpdate(() => {
		if (!textPathElTop) return;

		window.requestAnimationFrame(() => {
			textLengthTop = textPathElTop.getComputedTextLength();
			textLengthInnerTop = textPathElInnerTop.getComputedTextLength();
			textLengthInnerBottom = textPathElInnerBottom.getComputedTextLength();
			textLengthBottom = textPathElBottom.getComputedTextLength();
		});
	});

	const diameterTop = 292;
	const diameterInnerTop = 234;
	const diameterInnerBottom = 260;
	const diameterBottom = 328;

	$: rotateTop = 90 * (1 - textLengthTop / ((Math.PI * diameterTop) / 2));
	$: rotateInnerTop = 90 * (1 - textLengthInnerTop / ((Math.PI * diameterInnerTop) / 2));
	$: rotateInnerBottom = -90 * (1 - textLengthInnerBottom / ((Math.PI * diameterInnerBottom) / 2));
	$: rotateBottom = -90 * (1 - textLengthBottom / ((Math.PI * diameterBottom) / 2));
</script>

<svg
	bind:this={svgEl}
	viewBox="10 10 380 380"
	color="#5000ff"
	version="1.1"
	xmlns="http://www.w3.org/2000/svg"
>
	<circle r="180" cx="200" cy="200" fill="none" stroke-width="20" stroke="currentColor" />
	<circle r="138" cx="200" cy="200" fill="none" stroke-width="2" stroke="currentColor" />
	<circle r="111" cx="200" cy="200" fill="none" stroke-width="2" stroke="currentColor" />

	<text
		font-size="13"
		font-family="PT Sans Narrow"
		font-style="normal"
		font-weight="normal"
		fill="#ffffff"
		transform="rotate(-90, 200, 200)"
		textLength="1103"
	>
		<defs
			><path
				id="text_path_outer"
				d="M 200 200 m -175.5, 0 a 175.5,175.5 0 1,1 351,0 a 175.5,175.5 0 1,1 -351,0"
			/></defs
		>
		<textPath href="#text_path_outer">{textOuter}</textPath>
	</text>
	<text
		font-size="24"
		font-family="PT Sans Narrow"
		font-style="normal"
		font-weight="normal"
		fill="currentColor"
		transform="rotate({rotateTop}, 200, 200)"
		letter-spacing=".15em"
	>
		<defs
			><path
				id="text_path_top"
				d="M 200 200 m -146, 0 a 146,146 0 1,1 292,0 a 146,146 0 1,1 -292,0"
			/></defs
		>
		<textPath bind:this={textPathElTop} href="#text_path_top">{textTop}</textPath>
	</text>
	<text
		font-size="18"
		font-family="PT Sans Narrow"
		font-style="normal"
		font-weight="normal"
		fill="currentColor"
		transform="rotate({rotateInnerTop}, 200, 200)"
		letter-spacing=".05em"
	>
		<defs
			><path
				id="text_path_inner_top"
				d="M 200 200 m -117, 0 a 117,117 0 1,1 234,0 a 117,117 0 1,1 -234,0"
			/></defs
		>
		<textPath bind:this={textPathElInnerTop} href="#text_path_inner_top">{textInnerTop}</textPath>
	</text>
	<text
		font-size="18"
		font-family="PT Sans Narrow"
		font-style="normal"
		font-weight="normal"
		fill="currentColor"
		transform="rotate({rotateInnerBottom}, 200, 200)"
		letter-spacing=".05em"
	>
		<defs
			><path
				id="text_path_inner_bottom"
				d="M 200 200 m -130, 0 a 130,130 0 1,0 260,0 a 130,130 0 1,0 -260,0"
			/></defs
		>
		<textPath bind:this={textPathElInnerBottom} href="#text_path_inner_bottom"
			>{textInnerBottom}</textPath
		>
	</text>
	<text
		font-size="26"
		font-family="PT Sans Narrow"
		font-style="normal"
		font-weight="normal"
		fill="currentColor"
		letter-spacing=".15em"
		transform="rotate({rotateBottom}, 200, 200)"
	>
		<defs
			><path
				id="text_path_bottom"
				d="M 200 200 m -164, 0 a 164,164 0 1,0 328,0 a 164,164 0 1,0 -328,0"
			/></defs
		>
		<textPath bind:this={textPathElBottom} href="#text_path_bottom">{textBottom}</textPath>
	</text>
</svg>
