<script lang="ts">
	import Stamp from "./lib/Stamp.svelte";

	let textOuter1 = "ИНН 131213121312";
	let textOuter2 = "ИНН 131213121312";
	let textTop = "ИП Михаил Павлович Терентьев";
	let textInnerTop = "г. Санкт-Петербург";
	let textInnerBottom = "Индивидуальный предприниматель";
	let textBottom = "ОГРНИП 345678901234567";

	let svgEl: SVGElement;

	function saveSvg() {
		const svgSrc = svgEl.outerHTML.replaceAll("&nbsp;", "\u00A0");
		const anchorEl = document.createElementNS(
			"http://www.w3.org/1999/xhtml",
			"a"
		) as HTMLAnchorElement;
		anchorEl.download = "stamp.svg";
		anchorEl.rel = "noopener";
		anchorEl.href = URL.createObjectURL(
			new Blob([svgSrc], { type: "image/svg+xml;charset=utf-8" })
		);
		anchorEl.click();
	}
</script>

<main>
	<Stamp
		bind:svgEl
		{textOuter1}
		{textOuter2}
		{textTop}
		{textInnerTop}
		{textInnerBottom}
		{textBottom}
	/>

	<div class="controls">
		<input type="text" bind:value={textOuter1} />
		<input type="text" bind:value={textOuter2} />
		<input type="text" bind:value={textTop} />
		<input type="text" bind:value={textInnerTop} />
		<input type="text" bind:value={textInnerBottom} />
		<input type="text" bind:value={textBottom} />
		<div>
			<button type="button" on:click={saveSvg}>Save SVG</button>
			<button type="button" on:click={() => window.print()}>Print PDF</button>
			<a href="https://codeberg.org/notpushkin/stamp.ale.sh"
				>Fork me on Codeberg</a
			>
			<a href="https://ale.sh/dont">Buy me a coffee</a>
		</div>
	</div>
</main>

<style>
	:global(svg) {
		width: 20em;
	}

	.controls {
		width: 70ch;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	@media print {
		:global(svg) {
			width: 38mm;
		}
		.controls {
			display: none;
		}
	}
</style>
